::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #951a35;
  border-radius: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.chat {
  height: 80%;
  width: 80%;
  border: 1px solid #000;
  backdrop-filter: blur(24px);
  box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.534);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages-area {
  height: 90%;
  width: 100%;
  padding-top: 0.5em;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages-area > p {
  font-family: monospace;
  font-size: 0.6em;
  max-width: 90%;
  max-height: 100%;
}

.messages-area span {
  color: rgb(1, 158, 22);
}

.input-area {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-area form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.input-area input {
  width: 80%;
  font-family: monospace;
  font-weight: 100;
  padding: 0.3em;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 3px;
  background-color: rgb(24, 24, 24);
  color: #fff;
  font-size: 0.6em;
}

.input-area input:focus {
  outline: none;
}

.input-area button {
  font-size: 0.7em;
  background-color: rgb(1, 110, 16);
  border: 0.5px solid transparent;
  border-radius: 2px;
  color: #fff;
  font-weight: 200;
  font-family: monospace;
  cursor: pointer;
}

.input-area button:hover {
  background-color: rgb(0, 88, 12);
  transition-duration: 200ms;
}

.input-area button:focus {
  transform: scale(0.96);
  transition-duration: 200ms;
}
